<legend class="small">Actions:</legend>
<select name="actions" id="actions">
	<option value="set_category">Set category</option>
	<option value="set_tag">Set tag</option>
	<option value="unset_tag">Unset tag</option>
	<option value="deactivate">Deactivate</option>
	<option value="delete">Delete</option>
	<option value="rescan">Rescan</option>
</select><br /><br />
<input type="button" class="button" value="Apply to selected" onclick="applyToSelected()" />
