<div class="video_title"><a href="#" class="video" onclick="byPath('<%= CGI::escape(@item.dir) %>', 1);return false;"><%= @item.dirname %></a></div>
<div class="screenshot"><a href="#" class="video" onclick="byPath('<%= CGI::escape(@item.dir) %>', 1);return false;"><img src="/root/resource_file<%= @item.mid ? "?type=screenshot&mid=#{@item.mid}" : "?type=image&file=no_shot0.png" %>" border="<%= @item.mid ? "1" : "0" %>" <%= @item.mid ? "height=\"140\"" : "" %> /></a></div>

