<div id="settingsdiv"><%= html("options") %></div>
<div id="transcodingdiv"><%= html("transcoding") %></div>
<div id="usersdiv"><%= html("users") %></div>
<div id="virtualsdiv"><%= html("virtual") %></div>
<div id="dynknotsdiv"><%= html("dynknots") %></div>
