<div class="video_title"><a href="#" class="video" onclick="browseCategory(<%= params["category"] %>, <%= params["tag_id"] %>, <%= @item.id %>, 1);return false;"><%= @item.value %></a></div>
<div class="screenshot"><a href="#" class="video" onclick="browseCategory(<%= params["category"] %>, <%= params["tag_id"] %>, <%= @item.id %>, 1);return false;"><img src="/root/resource_file<%= @item.mid ? "?type=screenshot&mid=#{@item.mid}" : "?type=image&file=no_shot0.png" %>" border="<%= @item.mid ? "1" : "0" %>" <%= @item.mid ? "height=\"140\"" : "" %> /></a></div>

