<legend class="small">Youtube:</legend>
URL: <input type="text" name="youtube_url" id="youtube_url" /><br />
Type: <select name="youtube_type" id="youtube_type">
	<option value="0">Video</option>
	<option value="1">Audio</option>
</select>
<br /><br />
<input type="button" class="button" value="Add to collection" onclick="addFromYoutube()" />
